<% include ../partials/header %>

<div class="jumbotron">
<h1>Welcome to SimpleChan!</h1>
<p>Please select one of the boards from the navbar</p>

</div>
<% include ../partials/popovers %>
<% include ../partials/footer %>



